form#block-admin-display-form tr.new-block.new-block-transition {
  -webkit-transition: background 1s;
  -moz-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s;
}
form#block-admin-display-form tr.new-block.new-block-unseen {
  background: pink;
}
form#block-admin-display-form div.new-block-wrapper {
  position: relative;
  float: left;
  padding-right: 34px;
}
form#block-admin-display-form div.new-block-indicator {
  position: absolute;
  top: -3px;
  right: 0;
  color: red;
  font-weight: 700;
  font-style: italic;
}
